.Rproj.user
.Rhistory
.RData
.Ruserdata
candidate_models/candidate_model_fits
output_selected_model/
programming_supplement.pdf
plots.7.2.24/
pictures\ from\ angling\ survey/
metadata\ files/
figures/
example_scripts_variance_part/
data.fmdb/
data/
crew.csv
count\ model\ variance\ partitioning.pdf
compare.zinf.no.zinf/
catchability\ notes.docx
anglerInfo.xlsx
MFEdb/
output_selected_model/posterior_predictive_checks/
output_selected_model/prior_checks/
output_angler_date_model/
old_folder_cleanup/